# Environment variables
.env

# Telegram session files
*.session

# Log files
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
env/
ENV/

# IDE-specific folders
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/